.cartContainer {
  display: flex;
  flex-direction: column;
}

.itemContainer {
  border: 1px solid rgb(var(--color-overlay) / 60%);
  background-color: rgb(var(--color-overlay) / 5%);
  display: flex;
  gap: 2rem;
  width: 100%;
}
.itemContainer:hover {
  border: 1px solid rgb(var(--color-overlay));
  background-color: rgb(var(--color-overlay) / 9%);
}

.productImage {
  width: 150px;
  margin: 2rem;
}

.productName {
  font-size: 1rem;
}
