.cardContainer {
  border: 1px solid rgb(var(--color-overlay) / 60%);
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(var(--color-overlay) / 5%);
}
.cardContainer:hover {
  border: 1px solid rgb(var(--color-overlay));
  background-color: rgb(var(--color-overlay) / 9%);
}

.productImage {
  margin: auto;
  width: 250px;
}

.productName {
  font-size: 16px;
  font-weight: 400;
}

.cartButtonsContainer {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.quantityButtonsContainer {
  display: flex;
  gap: 5px;
}

.quantityInput {
  text-align: center;
  width: 40px;
}

.cartButton {
  background-color: rgb(var(--color-overlay) / 7%);
  border: 1px solid rgb(var(--color-overlay) / 87%);
}
.cartButton:hover {
  background-color: rgb(var(--color-overlay) / 11%);
  border: 1px solid rgb(var(--color-overlay));
}

.addCartButton {
  background-color: rgb(var(--color-primary));
  border: 1px solid transparent;
  color: rgb(var(--color-surface));
  font-weight: 600;
}
.addCartButton:hover {
  box-shadow: inset 0 0 0 2em rgb(var(--color-overlay) / 4%);
}
.addCartButton:focus {
  box-shadow: inset 0 0 0 2em rgb(var(--color-overlay) / 12%);
}
